@font-face {
	font-family: "Baloo";
	src: url('lib/Baloo/Baloo-Regular.ttf');
}

body{
  background-color: rgb(194,194,194);
  background-image:linear-gradient(60deg, rgb(194,188,186), rgb(185,191,193));
  
}
#canvas{
  cursor:pointer;
}

h1{
  color: #fff;
  background-image:linear-gradient(60deg, rgb(4,99,184), rgb(73,88,217));
  padding:20px;
  font-family: 'Baloo';
}

ul{
  list-style-type: none;
}
ul li{
  margin-bottom: 10px;
}

.outils{
  background-color: rgb(240,242,243); 
  padding:20px;
  margin-top:50px;
}

.btn-default{
  background-color: rgb(54,57,65);
  border:none;
  border-radius: 0;
  color: #fff;
}

.btn-default:hover, .btn-active{
  background-image:linear-gradient(60deg, rgb(4,99,184), rgb(73,88,217));
  border:none;
  border-radius: 0;
  color: #fff;
}